section{
  background-color: #f1f1f1;
  padding-top: 40px;
  .feature{
    background: url("../images/sprite.png") no-repeat;
    width: 85px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-2{
    background-position: -370px 0;
  }
  .img-3{
    background-position: -750px 0;
  }
  h4{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  p{
    font-family: 'Poppins', sans-serif;
  }
}
footer.red-footer{
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: red;
  .mail{

    font-size: 16px;
    display: inline;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  .text-foot{
    margin-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  input[name="q"] {
    margin-top: 5px;
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 2px;
    outline: none;
  }
  input[type="image"] {
    outline: none;
    left: -1.8em;
    position: relative;
    vertical-align: middle;
    width: 18px;
    height: 18px;
  }


}
footer.black-footer{
  background-color: #151516;
  padding-top: 40px;
  h4{
    color: red;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  .list-footer{
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    li{
      padding: 5px 0;
    }
  }
  .col-md-6{
    padding-left: 0 !important;
  }
  p{
    color:white;
  }
  .tel{
    i{
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../images/tel.png") no-repeat;
      margin-right: 6px;
    }
    span{
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
    }
  }
  .letter{
    i{
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../images/leter.png") no-repeat;
      background-position: 0 3px;
      margin-right: 6px;
    }
  }
  .social-link{
    display: flex;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    li:hover{
      background-color: white;
    }
    li:hover a{
      color: #0f0f0f;
      border-color: #0f0f0f;

    }
    li{
      margin-top: 18px;
      margin-right: 5px;
      display: inline-block;
      a{
        display: block;
        width: 45px;
        color: #515151;
        font-size: 22px;
        border: 2px solid #515151;
        padding: 5px;
        text-align: center;
      }
    }
  }
  hr{
    height: 1px;
    border: none;
    background-color:#515151;
  }
  .copyright{
    text-align: center;
    padding-bottom: 30px;
  }
}